@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: aliceblue;
}
.entry{
    display:grid;
    font-family: 'Rubik', sans-serif;
    width: 90wv;
    max-width: 1200px;
    margin: 5rem auto;
    gap:2rem;
}
@media screen and (min-width:768px) {
    .entry{
        grid-template-columns: repeat(3, 1fr);
    }
}

.bookie{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

img{
    width:100px;
    height:auto;
   
}
h3{
    margin-bottom: 10px;
    background-color: white;
}
h6{
    margin-top:10px;
    background-color: white;
}

p{
    background-color: white;
    margin-right:10px;
    margin-top: 10px;
}